<% if !@comments.any? %>
	<p>Seja o primeiro a comentar!</p>
<% else %>
	<% @comments.each do |co| %>
		<p>
		  <strong>Body:</strong>
		  <%= co.body %>
		</p>
		<p>
		  <strong>Score:</strong>
		  <%= co.score %>
		</p>

		<% if current_user != nil && current_user.admin? %>
			<%= link_to 'Edit', edit_category_item_comment_path(@category, @item, co) %>
			<%= link_to 'Destroy', category_item_comment_path(@category, @item, co), method: :delete %>
		<% end %>
	<% end %>
<% end %>
