<%= form_for([@category, @category.items.build], html: {class:'form-horizontal'}, role:"form") do |f| %>
	<div class="form-group field">
		<%= f.label :'Add Institution:', class:"control-label" %>
		<%= f.text_field :institution, class:"form-control form_campo_color", placeholder:"Institution name" %>
	</div>
	<div class="form-group actions">
		<%= f.submit %>
	</div>
<% end %>

