<% provide(:title, 'Editing Item') %>

<h3>
	<strong>
		Editing Item
	</strong>
</h3>

<%= render 'form' %>

<button class="links_bottom_page" type="button">
	<%= link_to 'Back', category_item_path(@category, @item) %>
</button>
