/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.conteudo_layout{
	padding: 10px, 10px, 10px, 10px;
	background: #eee;
	width: 600px;
	height: auto;
}

.rodape_layout{
	background: #222;
	color: #fff;
	hover: #888;
	margin-top: 20px;
	text-align: center;
}

.tr_menu{
	width: 25px;
}

.tabela_menu{
	width: 300px;
}

.cabecalho{
	background-color: #81A1D4;
}

.classe_ul_naveg{
	list-style-type: none;
	color: #f00;
	padding: 10px;
	margin-left: 60px;
}

.classe_li_naveg{
    display:inline;
    padding-right: 20px;
}

.logo{
	width: 60px;
	float: left;
}

#user_identification{
	position: absolute;
	top: 30px;
	right: 30px;
	color: #381;
}

/* submenu Dropdown */
ul.submenu li.submenu{
	display: none;
}

nav.classe_nav_menu > ul > li:last-child:hover .submenu{
	background: gray;
	display: table-row;
}
