<% provide(:title, "New Category") %>

<h3>
	<strong>
		New Category
	</strong>
</h3>
<%= render 'form' %>


<button type="button" class="links_bottom_page">
	<%= link_to 'Back', categories_path %>
</button>