<% provide(:title, 'Listando Itens') %>

<p id="notice"><%= notice %></p>

<p><%= render 'items/show' %></p>

<% if current_user != nil && current_user.admin? %>
	<div class="row">
		<div class="col-md-4">
			<%= render 'items/form_new' %>
		</div>
	</div>
<% end %>

<button class="links_bottom_page">
	<%= link_to 'Back', categories_path %>
</button>